.header {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  
  .header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    text-decoration: none;
  }
  
  .header-logo span {
    color: rgb(10, 20, 58);
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
  }
  
  .header-burger {
    width: 30px;
    height: 15px;
    display: none;
  }
  
 
  @media (max-width: 786px) {
    .header-burger {
      display: block;
    }
  
    .header-controls {
      display: none;
    }
  
  }